doctype html
html(lang="en")

  head
    title Admin Page

    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }

  body
    h1 Welcome to admin page
