extends ../layouts/main-layout.pug
//- Pug'da extendsanahtar kelime bir şablon miras yapısı oluşturmak için kullanılır. 
//- Bir şablon dosyasının başka bir şablon dosyasının düzenini veya yapısını devralmasına olanak tanır.

block content
//- 'layouts/main-layout.pug' yolundaki dosyada bulunan block content kısmına alttaki değer gider
    h1 Page Not Found 
    //- ekrana 'Page Not Found' bunu yazdırır